<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>
<body>
    <h1>Student Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maxime optio provident placeat corrupti? Fugiat qui ab reprehenderit vero cumque eaque provident, voluptatem voluptatibus eligendi numquam magni placeat mollitia, quibusdam rem, ratione eveniet labore velit laborum nisi minus! Tempora ullam quas facere officia recusandae beatae possimus autem blanditiis dolor, eaque asperiores commodi dolorem voluptate laborum non, inventore neque consectetur est. Itaque consequatur necessitatibus quas blanditiis laborum praesentium placeat, distinctio molestiae veniam facere reiciendis modi laudantium possimus delectus aspernatur natus maxime est nemo repudiandae similique saepe quaerat dolore. Blanditiis debitis, corporis accusantium quaerat eum ratione tempora in doloribus necessitatibus beatae sequi?</p>
</body>
</html>