<%- include('./partials/header.ejs') %>
<%- include("./partials/navbar.ejs") %>
    <div class="container">
        <div class="row mt-3">
            <h1>Student Page</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum asperiores similique animi nemo, aliquam harum at eveniet quod repellat repudiandae voluptas suscipit fuga laborum sed necessitatibus eligendi totam, eos nobis maxime accusantium voluptatum consequuntur ipsa officia praesentium? Praesentium expedita, nihil eos laboriosam consequuntur nostrum quasi possimus amet fugiat facilis natus quisquam minus veniam facere pariatur voluptates necessitatibus delectus iusto blanditiis, quam voluptatibus dicta! Vel laudantium fugiat, in laborum eos sed natus minus ipsam quibusdam possimus pariatur hic dolorum qui cum illo consequuntur nisi, quis iusto maxime tempora perferendis quisquam. Reprehenderit, sint repellendus provident porro magnam quidem quam commodi labore ea.</p>
        </div>
    </div>
<%- include("./partials/footer.ejs") %>