<%- include('./partials/header.ejs') %>
<%- include("./partials/navbar.ejs") %>
    <div class="container">
        <div class="row mt-3">
            <h1>Login</h1>

            <div class="border border-2 p-3">
                <form method = "post">
    
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" minlength="6" maxlength="50" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-danger" href="/registration">Register</a>
                </form>
            </div>
        </div>
    </div>
<%- include("./partials/footer.ejs") %>